@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo à FeiraFácil</h1>
    <p>Aqui pode encontrar tudo o que procura, aos melhores preços !</a>.</p>
</div>
