@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_VendedoresLayout.cshtml";
}

<h1><center>Dashboard de Vendedor.</center></h1>
<hr />
<center>
<a asp-action="Stands" ><button class="btn btn-success">Administrar Stands</button></a><br /><br />
</center>
<br />
<br />
