@{
	ViewData["Title"] = "Carinho";
}

<h1><center>Produtos no Carrinho</center></h1><br/Z



<div class="row">
	<div class="col-12">
		<table class="table table-image">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Categoria</th>
					<th scope="col">Stand Comprado</th>
					<th scope="col">Ações</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>

		</table>
	</div>
</div>