@{
    ViewData["Title"] = "Registar";
}

@if (ViewBag.Error)
{
    <div class="alert alert-danger" role="alert">
      @ViewBag.ErrorMessage
    </div>
}
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form method="POST">
                @Html.AntiForgeryToken()
                <h4>Por favor registe - se !</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        Email: <br />
                        <input id="email" class="form-control" name="email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Password: <br />
                        <input id="password" class="form-control" type="password" name="password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Confirmação de Password: <br />
                        <input id="password" class="form-control" type="password" name="password-confirm" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Primeiro nome: <br />
                        <input id="password" class="form-control" type="password" name="firstName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Último nome: <br />
                        <input id="password" class="form-control" type="password" name="lastName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        Número de Telemóvel: <br />
                        <input id="password" class="form-control" type="password" name="firstName" />
                    </div>
                </div><br/>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Registar" class="btn btn-success mb-2" />
                    </div>
                </div>
            </form>

            <p>
                @Html.ActionLink("Faça login", "Login")
            </p>
        </section>

    </div>
    <div class="col-md-4">
    </div>
</div>
