@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_EmpresaLayout.cshtml";
}

<h1><center>Dashboard da Empresa.</center></h1>
<hr />
<center>
    <a asp-action="CriarStand" asp-controller="Empresas"><button class="btn btn-success">Criar stand da empresa</button></a><br /><br />
    <a asp-action="AdicionarVendedor"><button class="btn btn-success">Adicionar vendedor</button></a><br /><br />

</center>
<br />
<br />
