@{
	ViewData["Title"] = "Feiras";
}

<h1><center>Feiras disponíveis</center></h1>

@if (Model == null)
{
	<h1>Não há certames</h1>
	throw new Exception("Please use a specific Exception");

}

<div class="row">
	<div class="col-12">
		<table class="table table-image">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Categoria</th>
					<th scope="col">Nº Stands</th>
					<th scope="col">Assistir</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.IdCertame
						</td>
						<td>
							@item.categoraCertame
						</td>
						<td>
							@ViewBag.contaStands[item.IdCertame]
						</td>
						<td>
							<a href='@Url.Action("Ver", "Certames", new { id = item.IdCertame })'><button class="btn btn-primary">Aceder</button></a>
						</td>
					</tr>
				}
			</tbody>

		</table>
	</div>
</div>