
@{
    ViewData["Title"] = "Details";
}


<h1><center>Lista de Produtos nos Diversos Stands</center></h1>

<div>
    
    
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Vendedor</th>
                <th scope="col">Imagens</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Produtos)
            {
                <tr>
                    <td>@item.nome</td>
                    <td>@item.nome_vendedor</td>
                    <td>@item.imagens</td>
                    <td><a><button class="btn btn-success">Adicionar ao Carrinho</button></a></td>
                </tr>

            }
        </tbody>
    </table>
   
</div>
