@model Feira_Facil.Models.Certame

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Certame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CriarCertame">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Número máximo de Stands</label>
                <input asp-for="maxStandsCertame" class="form-control" />
                <span asp-validation-for="maxStandsCertame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoraCertame" class="control-label">Categoria do Certame</label>
                <input asp-for="categoraCertame" class="form-control" />
                <span asp-validation-for="categoraCertame" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
