@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1><center>Dashboard de Administrador.</center></h1>
<hr />
<center>
<a asp-action="Feiras" ><button class="btn btn-success">Administrar Feiras</button></a><br /><br />
<a asp-action="Utilizadores" ><button class="btn btn-success">Administrar utilizadores</button></a><br /><br />
<a asp-action="Empresas" ><button class="btn btn-success">Administrar empresas</button></a><br /><br />
</center>
<br />
<br />
