@{
    ViewData["Title"] = "Feiras";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h1><center>Feiras disponíveis</center></h1>
<br />
<center>
	<a href='@Url.Action("CriarCertame", "Admin")'><button class="btn btn-primary">Adicionar</button></a>
</center>

@if(Model == null){
	<h1>Não há certames</h1>
	throw new Exception("Please use a specific Exception");

}

<div class="row">
	<div class="col-12">
		<table class="table table-image">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Categoria</th>
					<th scope="col">Remover</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@item.IdCertame
						</td>
						<td>
							@item.categoraCertame
						</td>

						<td>
							<a href='@Url.Action("RemoverCertame", "Admin", new { id = item.IdCertame })'><button class="btn btn-danger">Terminar</button></a>
						</td>
					</tr>
				}
			</tbody>
				
		</table>
	</div>
</div>